{% extends "template.html" %}
{% block body %}
<div class="center-container content column">
    <h1>{{ item.title }}</h1>

    <figure class="img-responsive">
        <img class="img-responsive" src="{{ image_url }}" alt="{{ item.title }} - Catalog Item Image">
        {% if not is_owner %}
            <figcaption>
                <span class="author"> create by <strong>{{ author_name }}</strong> at {{ item.date.strftime('%d, %b %Y') }}</span>
            </figcaption>
        {% endif %}
    </figure>

    <p>
       <strong>Description: </strong> {{ item.description }}
    </p>
    {% if is_owner %}
    <nav class="details-nav">
        <a class="button button-confirm" href="{{ url_for('catalog.edit_item',category_name=item.category.name,item_title=item.title) }}">Edit</a>
        <a class="button button-danger" href="/catalog/{{ item.category.name }}/{{ item.title }}/delete">Delete</a>
    </nav>
    {% endif %}
    <br>
</div>
{% endblock %}