{% extends "template.html" %}
{% block body %}
<div class="center-container content lists">
    {% if user_is_logged() %}
        <a class="button button-add" href="{{ url_for('catalog.add_item') }}">
            <i class="fas fa-plus-circle fa-3x"></i>
        </a>
    {% endif %}
    <div class="menu-container">
        <h1 class="category-title">Categories</h1>
        <a id=menu>
            <i class="fas fa-bars  fa-2x"></i>
        </a>
    </div>
    <aside class="categories" role="listitem">
        <h1 class="category-title">Categories</h1>
        <nav class="category items-container">
            {% for category in categories %}
            <a class="item category" href="/catalog/{{ category.name }}/items">{{ category.name }}</a>
            {% endfor %}
        </nav>
    </aside>
    <section role="listitem">
        <h1>Lastest Items</h1>
        <div class="items-container">
            {% for item in lastedItems %}
            <a class="item" href="/catalog/{{ item.category.name }}/{{ item.title }}">
                {{ item.title }} <span class="category">({{ item.category.name }})</span>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}