{% extends "template.html" %}
{% block body %}

<div class="center-container content column">

    {% if item.id == None %}
    <h1>Add Item</h1>
    {% else %}
    <h1>Edit Item</h1>
    {% endif %}

    <!-- MESSAGE FLASHING -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="message-alert">
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- END MESSAGE FLASHING -->

    <form method="POST" action="{{ action }}" enctype="multipart/form-data">
        <!-- Catalogitem ID -->
        <input hidden type="text" name="catalog_id" id="catalog_id" value="{{ item.id }}">

        <!-- Choose image -->
        <img  class="img-responsive" src="{{ url_image }}" id="imgPreview" alt="Category image" onclick="chooseFile()">

        <input hidden id="imageInput" name="image" type="file" accept="image/*" onchange="handleFile(this.files[0])">
        <!-- End Choose image -->

        <div class="input-container">
            <label class="label" for="title">Title</label>
            <input maxlength="30" type="text" name="title" id="title" value="{{ item.title }}" required>
        </div>

        <div class="input-container">
            <label class="label" for="description">Description</label>
            <textarea class="input-textarea" name="description" maxlength="800" id="description" value="description" required>{{ item.description }}</textarea>
        </div>

        <div class="input-container">
            <label class="label" for="category">Category</label>
            <select id="category-select" name="category_id" id="category_id">
                {% for category in categories %}
                {% if category_name == category.name %}
                <option value="{{ category.id }}" selected>{{category.name}}</option>
                {% else %}
                <option value="{{ category.id }}">{{category.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <input class="button button-confirm" type="submit" value="Submit">

    </form>
    <script>

        function handleFile(file) {
            if (!file) return;

            const reader = new FileReader();
            let input = document.getElementById("imgPreview")
            reader.onload = (event) => {
                input.setAttribute("src", event.target.result)
            }
            reader.readAsDataURL(file);
        }

        function chooseFile() {
            element = document.getElementById('imageInput').click();
        }
    </script>

</div>

{% endblock %}